
.icon-clock:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-behance-squared:before { content: '\f1b5'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */